@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter;
  }

  button {
    @apply flex gap-x-12 items-center font-medium text-xs;
    padding: 10px 16px;
    border-width: 1px;
    border-radius: 8px;
  }
}
