@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: AvertaStd-Regular;
    src: url(../fonts/AvertaStd-Regular.woff2) format("woff2"),
      url(../fonts/AvertaStd-Regular.woff) format("woff"),
      url(../fonts/AvertaStd-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: AvertaStd-Semibold;
    src: url(../fonts/AvertaStd-Semibold.woff2) format("woff2"),
      url(../fonts/AvertaStd-Semibold.woff) format("woff"),
      url(../fonts/AvertaStd-Semibold.ttf) format("truetype");
  }

  body {
    @apply text-text font-avertaregular;
  }
}
